body{
	background-color: lightblue;
}
p{
	font-size: 50px;
	background-color: yellow;
	color: blue;
	text-align: center;
}
.a1{
	display: inline-block;
	font-size: 24px;
    border: double 5px orange;
	padding: 10px 5px;
	color: orange;
	background-color: blue;
	width: 180px;
	text-align: center;
}
a{
	text-decoration: none;
	margin: 10px;
}
.a1:hover{
	border: double 5px purple;
	color: purple;
	background-color: orange;
	font-weight: bold;
	text-transform: uppercase;
}
.myButton {
	box-shadow: 11px -10px 17px 1px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius:42px;
	border:8px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Times New Roman;
	font-size:28px;
	padding:32px 29px;
	text-decoration:none;
	text-shadow:6px -3px 3px #854629;
}
.myButton:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}
.myButton:active {
	position:relative;
	top:1px;
}
.myButton1 {
	box-shadow: 7px -6px 8px 1px #fcc500;
	background:linear-gradient(to bottom, #e4ebf7 5%, #ff00c8 100%);
	background-color:#e4ebf7;
	border-radius:24px;
	border:5px solid #ff0000;
	display:inline-block;
	cursor:pointer;
	color:#f2ff00;
	font-family:Arial;
	font-size:28px;
	font-style:italic;
	padding:11px 13px;
	text-decoration:none;
	text-shadow:10px 6px 3px #07bf9d;
}
.myButton1:hover {
	background:linear-gradient(to bottom, #ff00c8 5%, #e4ebf7 100%);
	background-color:#ff00c8;
}
.myButton1:active {
	position:relative;
	top:1px;
}
.a2{
	display: inline-block;
	border: dotted 6px magenta;
	background-color: aqua;
	color: red;
	padding: 10px 5px;
    width: 150px;
    text-align: center;
    box-shadow: 0px -10px 10px darkblue;
}
.a2:hover{
	background-color: magenta;
	border: double 6px yellow;
	color: lime;
	text-decoration: underline;
	font-weight: bold;
	text-transform: uppercase;
}
/* CSS */
.button-49,
.button-49:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-49,
  .button-49:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}